

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: url("../../assets/images/circles.png");
  background-repeat: repeat;
  background-attachment: scroll;
  color: #777;
  margin: 0px;
  font-size: 18px;
  line-height: 30px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

nav a:hover {
  color: green;
}

h1, h2, h3 {
  margin-bottom: 20px;
}

h1, h2, h3 {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-weight: 700;
  color: #4aaaa5;
}

h1 {
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #ddd;
  padding-bottom: 10px;
  padding-top: 20px;
}

h2, h3 {
  font-size: 22px;
}





/*Index 2 styling of HTML Masterhead, Nav, and Logo elements*/


.gp-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

#masterhead {
  background: #fff;
  height: 70px;
  width: 100%;
  border-bottom: 2px solid #ccc;
  color: #fff;
  margin: 0 0 60px;
  z-index: 99;
}

#logo {
  width: 250px;
  height: 69px;
  background: #4aaaa5;
  color: #fff;
  text-align: center;
  font-family: 'Georgia', Times, Times New Roman, serif;
  line-height: 70px;
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
  float: left;
}

nav {
  float: right;
}

nav a {
  border-left: 1px solid #efefef;
  color: black;
  font-size: 16px;
  line-height: 70px;
  text-decoration: none;
  display: inline;
  padding-left: 5px;
}

nav a:first-child {
  border-left: 0 none;
}

/*Index 3 styling of HTML Main-section elements that include
Aboutme, Connect With Me */
.main-content {
  width: 100%;
  height: 550px;
  max-width: 670px;
  padding: 20px;
    overflow: auto;
}


.gpbgcolor {
  background: #fff;
}

.gabepic {
  width: 200px;
  height: 200px;
  float: left;
  margin-left: : 20px;
}


.sidebar {
  width: 100%;
  height: 200px;
  max-width: 270px;
  padding: 15px;
}

.sidebar h2, h3 {
  border-bottom: 2px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.connect_icons {
  height: 65px;
  width: 65px;
  margin-right: 10px;
}

/*Index 4 styling of HTML Footer styles */
footer {
  height: 70px;
  width: 100%;
  position: fixed;
  bottom: 0;
  float: left;
}

.foot-container {
  background: #666;
  border-top: 8px solid #4aaaa5;
  color: #fff;
  font-size: 16px;
  padding: 15px 0;
}

.clearfix::after {
content: "";
display: block;
clear: both;
}


/*Index 6 styling of HTML Main-section elements for the Contact page bars */
.contact_form li {
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

input[type=text], input[type=email], textarea {
  display: block;
  width: 100%;
  height: 25px;
  padding-left: 10px;
}


label {
  margin-bottom: 5px;

}

textarea {
  height: 150px;
}

input[type=submit] {
  background: #4aaaa5;
  border: 0 none;
  border-radius: 75px;
  color: #fff;
  font-size: 18px;
  padding: 10px 30px;
  margin-top: 10px;
  cursor: pointer;
}


/*Index 5 styling of HTML Main-section2 elements that include
Portfolio styles */


.main-content2 {
  width: 100%;
  height: 550px;
  max-width: 670px;
  padding: 10px;
    overflow: auto;
}

.main-content2 img {
  height: 200px;
  width: 200px;
}

figure {
  position: relative;
  float: left;
  margin: 10px;
}

figcaption {
  background-color: teal;
  color: #ffffff;
  height: 60px;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  left: 0;
}
