/*Index 1: Html Elements and page styling*/
/*Index 2: Navbar Menu styling*/
/*Index 3 styling of HTML Main-section elements that include
Aboutme, Portfolio, Contact and Sidebar */
/*Index 4 styling of HTML Footer styles */
/*Index 5 card caption and title styles */



/*Index 1: Html Elements and page styling*/
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-image: url("../../assets/images/greywall.png");
  background-repeat: repeat;
  background-attachment: scroll;
}

h1, h2, h3 {
  margin-bottom: 20px;
}

h1, h2, h3 {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-weight: 700;
  color: #4aaaa5;
}

h1 {
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #ddd;
  padding-bottom: 10px;
  padding-top: 20px;
}

h2, h3 {
  font-size: 22px;
}

/*Index 2: Navbar Menu styling*/
.padding {
  padding: 20px;
}

.gpbgcolor {
  background-image: url("../../assets/images/gray_jean.png");
}

.gp-navbar-brand {
  width: 250px;
  background: #4aaaa5;
  color: #fff;
  text-align: center;
  font-family: 'Georgia', Times, Times New Roman, serif;
  line-height: 70px;
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: None;
}

.navbar-bottom-margin {
  margin-bottom: 30px;
  border-bottom: 3px solid #ddd;
}

.navbar {
  padding-top: 0px !important;
  padding-bottom:  0px !important;
  margin-left: 0px;
  padding-left: 0px;
  padding: 0 0 0 0 !important


}
/*Index 3 styling of HTML Main-section elements that include
Aboutme, Connect With Me */
.gabepic1 {
  max-width: 400px;
  min-width: 260px;
  width: 100%;
  height: auto;
  max-height: 300px;
  float: left;
}

.gabepic {
  max-width: 100%;
  height: auto;
  float: left;
}

.sidebar {
  background-image: url("../../assets/images/gray_jean.png");
  height: 200px;
  width: auto
  padding: 15px;
}

.sidebar h2, h3 {
  line-height: 30px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  padding-top: 20px;
}

.connect_icons {
  height: auto;
  width: 60px;
  margin-right: 3px;
}

textarea {
 display: block;
 width: 100%;
 height: 150px;
 padding-left: 10px;
}

/*Index 4 styling of HTML Footer styles */
.foot-container {
  background: #666;
  border-top: 8px solid #4aaaa5;
  color: #fff;
  font-size: 18px;
  padding: 15px 0;
}

.marginbottomspace {
    margin-bottom: 150px;
}

.marginbottomspace1 {
    margin-bottom: 20px;
}


/*Index 5 card caption and title styles */
.gpcard-caption   {
position: relative;
}

.gpcard-title {
  background-color: teal;
    color: #ffffff;
    height: 60px;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    position: absolute;
    font-size: 25px;
    bottom: 5px;
    left: 0px;
}
